@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; }

.dontTouchMe {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

a:hover {
  text-decoration: none; }

header {
  background: linear-gradient(45deg, #ecbabe 0%, #e0aeb1 35%, #8ac6d0 100%);
  line-height: 36px;
  text-transform: uppercase; }
  header img {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 10px; }
  header a {
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    transition: .5s; }
    header a:hover {
      color: #5035c4; }

#mobiMenu {
  width: 300px;
  height: 100%;
  background: #ecbabe;
  position: fixed;
  z-index: 1;
  right: -300px;
  padding: 40px;
  transition: all 0.8s ease;
  overflow: scroll; }
  #mobiMenu img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer; }
  #mobiMenu ul {
    margin: 0;
    padding: 0; }
    #mobiMenu ul li {
      list-style: none;
      text-align: left; }
      #mobiMenu ul li a {
        padding: 10px 0px;
        display: inline-block;
        font-size: 24px;
        font-family: 'Open Sans';
        color: #fff; }
  #mobiMenu .sub-menu {
    padding: 0px 0px 20px 0px; }
    #mobiMenu .sub-menu li {
      padding-left: 20px; }
      #mobiMenu .sub-menu li a {
        font-size: 14px; }

#logo img {
  width: 320px;
  padding-top: 35px;
  padding-bottom: 45px; }

nav {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 13px;
  line-height: 29px; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav .menu {
    text-align: center; }
    nav .menu ul {
      display: none;
      position: absolute;
      margin-left: -15px;
      z-index: 99; }
      nav .menu ul ul {
        margin: 0 0 0 100%;
        width: 160px; }
    nav .menu li {
      list-style: none;
      display: inline-block; }
    nav .menu .sub-menu li {
      display: flex; }
    nav .menu .link {
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #727475;
      letter-spacing: 3px;
      padding: 15px 0;
      transition: .3s; }
      nav .menu .link:hover {
        color: #362f57; }
      nav .menu .link:after {
        content: "|";
        display: inline-block;
        margin: 0px 20px;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif; }
    nav .menu .btnContact {
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #fff;
      letter-spacing: 3px;
      background: #8ac6d0;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      transition: .3s; }
      nav .menu .btnContact:hover {
        background: #CCB4B8; }
    nav .menu .sub-menu {
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      box-shadow: 0px 2px 5px #f1f1f1; }
    nav .menu .sub-menu li {
      border-bottom: 1px solid #f1f1f1; }
    nav .menu .sub-menu li a {
      padding: 10px 20px;
      text-align: left;
      position: relative;
      float: left;
      width: 100%;
      font-size: 12px;
      color: #727475;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 3px;
      background: #fff; }
      nav .menu .sub-menu li a:hover {
        background: #f9f9f9; }
    nav .menu .itemNew > a:after {
      content: "new";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #8ac6d0;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .itemHot > a:after {
      content: "hot";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #ecbabe;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .itemBest > a:after {
      content: "best";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #d9cbdb;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .menu-item-has-children > a:after {
      content: "";
      position: relative;
      float: right;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #727475;
      margin-top: 9px; }
  nav #btnMobiMenu {
    width: 25px;
    height: 25px;
    margin: auto;
    cursor: pointer; }
  nav #btnMenuSearch {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    margin-top: -40px;
    cursor: pointer; }

#spaLinks {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white; }
  #spaLinks .spaLinkBlock {
    background-size: cover;
    height: 250px;
    text-align: center; }
    #spaLinks .spaLinkBlock a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #fff;
      letter-spacing: 3px;
      font-size: 17px;
      line-height: 17px;
      text-transform: uppercase;
      display: block;
      padding-top: 205px; }
  #spaLinks .spaLinkBlock1 {
    background-image: url("../img/focus-5.jpg"); }
  #spaLinks .spaLinkBlock2 {
    background-image: url("../img/focus-10.jpg"); }
  #spaLinks .spaLinkBlock3 {
    background-image: url("../img/focus-6.jpg"); }
  #spaLinks .spaLinkShadows {
    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%; }

#blockSearch {
  background: none;
  border: none;
  margin-top: 45vh; }
  #blockSearch input[type="text"] {
    background: none;
    border: 0px;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Playfair Display', sans-serif;
    padding: 10px 20px;
    width: 350px; }
  #blockSearch input[type="submit"] {
    font-size: 25px;
    line-height: 40px;
    margin-left: 20px;
    background-color: #8ac6d0;
    border-width: 0px;
    border-color: #8ac6d0;
    border-radius: 25px;
    border-style: solid;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Playfair Display', sans-serif; }

footer {
  border-top: 1px solid #f1f1f1;
  padding: 15px 0 15px 0;
  color: #a3a3a3;
  font-family: 'Open Sans', sans-serif; }
  footer p {
    font-size: 14px;
    line-height: 24px; }
  footer a {
    font-size: 14px;
    line-height: 14px;
    color: #a3a3a3;
    text-transform: uppercase;
    transition: .5s; }
    footer a i {
      padding: 0 10px 0 20px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks .spaLinkBlock {
    background-position: center center; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks .spaLinkBlock {
    background-position: center center;
    height: 180px; }
    #spaLinks .spaLinkBlock a {
      padding-top: 135px; }
  footer p {
    margin-bottom: 10px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks {
    padding-bottom: 5px; }
    #spaLinks .spaLinkBlock {
      background-position: center center;
      margin-bottom: 25px; }
  footer p {
    margin-bottom: 10px; }
  footer a i {
    padding: 0 15px 0 15px; } }

@media (max-width: 575.98px) {
  #logo img {
    width: 280px;
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks {
    padding-bottom: 5px; }
    #spaLinks .spaLinkBlock {
      background-position: center center;
      height: 150px;
      margin-bottom: 25px; }
      #spaLinks .spaLinkBlock a {
        padding-top: 115px; }
  footer p {
    margin-bottom: 10px; }
  footer a i {
    padding: 0 15px 0 15px; } }
