@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; }

.dontTouchMe {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

a:hover {
  text-decoration: none; }

.spaLinkBlock {
  background-size: cover;
  height: 250px;
  text-align: center; }
  .spaLinkBlock a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    display: block;
    padding-top: 205px; }

.spaLinkShadows {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.3));
  height: 100%;
  width: 100%; }

header {
  background: linear-gradient(45deg, #ecbabe 0%, #e0aeb1 35%, #8ac6d0 100%);
  line-height: 36px;
  text-transform: uppercase; }
  header img {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 10px; }
  header a {
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    transition: .5s; }
    header a:hover {
      color: #5035c4; }

#mobiMenu {
  width: 300px;
  height: 100%;
  background: #ecbabe;
  position: fixed;
  z-index: 1;
  right: -300px;
  padding: 40px;
  transition: all 0.8s ease;
  overflow: scroll; }
  #mobiMenu img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer; }
  #mobiMenu ul {
    margin: 0;
    padding: 0; }
    #mobiMenu ul li {
      list-style: none;
      text-align: left; }
      #mobiMenu ul li a {
        padding: 10px 0px;
        display: inline-block;
        font-size: 24px;
        font-family: 'Open Sans';
        color: #fff; }
  #mobiMenu .sub-menu {
    padding: 0px 0px 20px 0px; }
    #mobiMenu .sub-menu li {
      padding-left: 20px; }
      #mobiMenu .sub-menu li a {
        font-size: 14px; }

#logo img {
  width: 320px;
  padding-top: 35px;
  padding-bottom: 45px; }

nav {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 13px;
  line-height: 29px; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav .menu {
    text-align: center; }
    nav .menu ul {
      display: none;
      position: absolute;
      margin-left: -15px;
      z-index: 99; }
      nav .menu ul ul {
        margin: 0 0 0 100%;
        width: 160px; }
    nav .menu li {
      list-style: none;
      display: inline-block; }
    nav .menu .sub-menu li {
      display: flex; }
    nav .menu .link {
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #727475;
      letter-spacing: 3px;
      padding: 15px 0;
      transition: .3s; }
      nav .menu .link:hover {
        color: #362f57; }
      nav .menu .link:after {
        content: "|";
        display: inline-block;
        margin: 0px 20px;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif; }
    nav .menu .btnContact {
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #fff;
      letter-spacing: 3px;
      background: #8ac6d0;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      transition: .3s; }
      nav .menu .btnContact:hover {
        background: #CCB4B8; }
    nav .menu .sub-menu {
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      box-shadow: 0px 2px 5px #f1f1f1; }
    nav .menu .sub-menu li {
      border-bottom: 1px solid #f1f1f1; }
    nav .menu .sub-menu li a {
      padding: 10px 20px;
      text-align: left;
      position: relative;
      float: left;
      width: 100%;
      font-size: 12px;
      color: #727475;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 3px;
      background: #fff; }
      nav .menu .sub-menu li a:hover {
        background: #f9f9f9; }
    nav .menu .itemNew > a:after {
      content: "new";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #8ac6d0;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .itemHot > a:after {
      content: "hot";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #ecbabe;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .itemBest > a:after {
      content: "best";
      text-transform: uppercase;
      position: relative;
      float: right;
      background-color: #d9cbdb;
      border-radius: 15px;
      padding: 3px 8px;
      letter-spacing: 0px;
      color: #fff;
      font-size: 10px;
      line-height: 10px;
      margin-top: 7px;
      margin-left: 10px; }
    nav .menu .menu-item-has-children > a:after {
      content: "";
      position: relative;
      float: right;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #727475;
      margin-top: 9px; }
  nav #btnMobiMenu {
    width: 25px;
    height: 25px;
    margin: auto;
    cursor: pointer; }
  nav #btnMenuSearch {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    margin-top: -40px;
    cursor: pointer; }

#spaLinks {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white; }
  #spaLinks .spaLinkBlock1 {
    background-image: url("../img/focus-5.jpg"); }
  #spaLinks .spaLinkBlock2 {
    background-image: url("../img/focus-10.jpg"); }
  #spaLinks .spaLinkBlock3 {
    background-image: url("../img/focus-6.jpg"); }

#spaServices {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center; }
  #spaServices h4 {
    color: #a3a3a3;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 3px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px; }
  #spaServices h1 {
    color: #727475;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    padding-bottom: 70px; }
  #spaServices .spaServicesBlockImg img {
    width: 70px;
    height: 70px; }
  #spaServices .spaServicesBlockImg h3 {
    padding-top: 25px;
    color: #727475;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 3px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 60px; }
  #spaServices .spaServicesFormsBlock {
    background-image: url("../img/video-1.jpg");
    background-position: center center;
    background-size: 720px;
    background-repeat: no-repeat; }
    #spaServices .spaServicesFormsBlock .spaServicesTime {
      border: 1px solid #f1f1f1;
      padding: 40px;
      background: #fff;
      text-align: left; }
      #spaServices .spaServicesFormsBlock .spaServicesTime h5 {
        color: #ecbabe;
        letter-spacing: 3px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 10px; }
      #spaServices .spaServicesFormsBlock .spaServicesTime h2 {
        color: #727475;
        font-family: 'Playfair Display', sans-serif;
        font-weight: normal;
        font-size: 25px;
        line-height: 25px;
        padding-bottom: 20px; }
      #spaServices .spaServicesFormsBlock .spaServicesTime p {
        color: #a3a3a3;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 29px;
        font-weight: normal;
        padding-bottom: 30px; }
      #spaServices .spaServicesFormsBlock .spaServicesTime table {
        width: 100%; }
      #spaServices .spaServicesFormsBlock .spaServicesTime .firstDay {
        border-bottom: 1px solid #eee; }
      #spaServices .spaServicesFormsBlock .spaServicesTime .workDays {
        font-size: 13px;
        line-height: 13px;
        color: #727475;
        font-weight: normal;
        font-family: 'Playfair Display', sans-serif;
        padding: 15px 10px; }
      #spaServices .spaServicesFormsBlock .spaServicesTime .workTime {
        font-size: 13px;
        line-height: 13px;
        color: #a3a3a3;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        padding: 15px 10px; }
    #spaServices .spaServicesFormsBlock .spaServicesForm {
      background: #8ac6d0;
      margin-top: 100px;
      padding: 20px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="text"], #spaServices .spaServicesFormsBlock .spaServicesForm input[type="email"] {
        width: 150px;
        border: none;
        border-bottom: 1px solid #f1f1f1;
        background: none;
        padding-left: 20px;
        margin-right: 10px;
        padding: 10px 20px;
        padding-top: 30px;
        font-family: 'Open Sans', sans-serif;
        color: #fff !important;
        font-size: 15px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm textarea {
        border: none;
        border-bottom: 1px solid #f1f1f1;
        background: none;
        padding-left: 22px;
        padding-top: 25px;
        font-family: 'Open Sans', sans-serif;
        color: #f1f1f1;
        font-size: 15px;
        width: 315px;
        margin-bottom: 25px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="submit"] {
        border-width: 0px;
        border-color: #8ac6d0;
        border-radius: 25px;
        border-style: solid;
        padding: 10px 20px;
        width: 90%;
        cursor: pointer;
        font-family: 'Playfair Display', sans-serif;
        color: #a3a3a3;
        background-color: #ffffff;
        font-size: 15px;
        margin-bottom: 35px; }

#blockSearch {
  background: none;
  border: none;
  margin-top: 45vh; }
  #blockSearch input[type="text"] {
    background: none;
    border: 0px;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Playfair Display', sans-serif;
    padding: 10px 20px;
    width: 350px; }
  #blockSearch input[type="submit"] {
    font-size: 25px;
    line-height: 40px;
    margin-left: 20px;
    background-color: #8ac6d0;
    border-width: 0px;
    border-color: #8ac6d0;
    border-radius: 25px;
    border-style: solid;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Playfair Display', sans-serif; }

#spaImgVideo {
  margin-top: 50px;
  margin-bottom: 50px; }
  #spaImgVideo .spaLinkBlock1 {
    background-image: url("../img/parallax-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%; }
    #spaImgVideo .spaLinkBlock1 a {
      padding: 0; }
    #spaImgVideo .spaLinkBlock1 img {
      width: 95px;
      height: 95px;
      position: absolute;
      margin-top: 50%;
      top: -47px;
      margin-left: 50%;
      left: -47px; }
  #spaImgVideo .spaLinkBlock2 {
    background-image: url("../img/parallax-13-1024x485.jpg");
    margin-bottom: 30px; }
  #spaImgVideo .spaLinkBlock3 {
    background-image: url("../img/focus-1.jpg"); }
  #spaImgVideo .spaLinkBlock4 {
    background-image: url("../img/focus-2.jpg"); }

#blockVideo {
  background: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 80px; }
  #blockVideo iframe {
    height: 450px; }
  #blockVideo button {
    position: absolute;
    margin-left: 780px;
    margin-top: -30px;
    color: #fff; }

#spaSaleImg {
  background-image: url("../img/parallax-5.jpg");
  background-position: center bottom;
  width: 100%;
  height: 450px;
  text-align: center; }
  #spaSaleImg h1 {
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    line-height: 110px;
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    margin-top: 80px;
    margin-bottom: 25px; }
  #spaSaleImg p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; }
  #spaSaleImg a {
    border: 0px solid;
    border-radius: 25px;
    line-height: 16px;
    font-size: 16px;
    background-color: #ffffff;
    padding: 15px 25px;
    color: #a3a3a3;
    font-family: 'Playfair Display', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    text-transform: uppercase; }

footer {
  border-top: 1px solid #f1f1f1;
  padding: 15px 0 15px 0;
  color: #a3a3a3;
  font-family: 'Open Sans', sans-serif; }
  footer p {
    font-size: 14px;
    line-height: 24px; }
  footer a {
    font-size: 14px;
    line-height: 14px;
    color: #a3a3a3;
    text-transform: uppercase;
    transition: .5s; }
    footer a i {
      padding: 0 10px 0 20px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks .spaLinkBlock {
    background-position: center center; }
  #spaServices .spaServicesBlockImg h3 {
    font-size: 12px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks .spaLinkBlock {
    background-position: center center;
    height: 180px; }
    #spaLinks .spaLinkBlock a {
      padding-top: 135px; }
  #spaServices .spaServicesBlockImg h3 {
    font-size: 12px; }
  #spaServices .spaServicesFormsBlock {
    background: none; }
    #spaServices .spaServicesFormsBlock .spaServicesForm {
      margin-top: 0; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="text"], #spaServices .spaServicesFormsBlock .spaServicesForm input[type="email"] {
        width: 300px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm textarea {
        width: 620px; }
  #spaImgVideo .spaLinkBlock2, #spaImgVideo .spaLinkBlock3, #spaImgVideo .spaLinkBlock4 {
    background-position: center center;
    height: 150px; }
    #spaImgVideo .spaLinkBlock2 a, #spaImgVideo .spaLinkBlock3 a, #spaImgVideo .spaLinkBlock4 a {
      padding-top: 115px; }
  #blockVideo {
    margin-top: 60px; }
    #blockVideo iframe {
      height: 300px; }
  footer p {
    margin-bottom: 10px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  #logo img {
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks {
    padding-bottom: 5px; }
    #spaLinks .spaLinkBlock {
      background-position: center center;
      margin-bottom: 25px; }
  #spaServices .spaServicesBlockImg h3 {
    font-size: 10px; }
  #spaServices .spaServicesBlockImg img {
    width: 100%;
    height: auto; }
  #spaServices .spaServicesFormsBlock {
    background: none; }
    #spaServices .spaServicesFormsBlock .spaServicesForm {
      margin-top: 0; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="text"], #spaServices .spaServicesFormsBlock .spaServicesForm input[type="email"] {
        width: 200px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm textarea {
        width: 420px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="submit"] {
        width: 70%; }
  #spaImgVideo .spaLinkBlock {
    height: 200px;
    margin-bottom: 30px; }
    #spaImgVideo .spaLinkBlock img {
      margin-top: 0;
      top: 45px; }
  #spaImgVideo .spaLinkBlock2, #spaImgVideo .spaLinkBlock3, #spaImgVideo .spaLinkBlock4 {
    background-position: center center;
    height: 150px; }
    #spaImgVideo .spaLinkBlock2 a, #spaImgVideo .spaLinkBlock3 a, #spaImgVideo .spaLinkBlock4 a {
      padding-top: 115px; }
  #blockVideo {
    margin-top: 60px; }
    #blockVideo iframe {
      height: 300px; }
  #spaSaleImg h1 {
    font-size: 50px; }
  #spaSaleImg p {
    font-size: 11px; }
  footer p {
    margin-bottom: 10px; }
  footer a i {
    padding: 0 15px 0 15px; } }

@media (max-width: 575.98px) {
  #logo img {
    width: 280px;
    padding-bottom: 25px; }
  nav {
    border-top: none;
    padding-bottom: 30px; }
  #spaLinks {
    padding-bottom: 5px; }
    #spaLinks .spaLinkBlock {
      background-position: center center;
      height: 150px;
      margin-bottom: 25px; }
      #spaLinks .spaLinkBlock a {
        padding-top: 115px; }
  #spaServices .spaServicesBlockImg h3 {
    font-size: 10px; }
  #spaServices .spaServicesBlockImg img {
    width: 100%;
    height: auto; }
  #spaServices .spaServicesFormsBlock {
    background: none; }
    #spaServices .spaServicesFormsBlock .spaServicesForm {
      margin-top: 0; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="text"], #spaServices .spaServicesFormsBlock .spaServicesForm input[type="email"] {
        width: 200px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm textarea {
        width: 200px; }
      #spaServices .spaServicesFormsBlock .spaServicesForm input[type="submit"] {
        width: 70%; }
  #spaImgVideo .spaLinkBlock {
    height: 200px;
    margin-bottom: 30px; }
    #spaImgVideo .spaLinkBlock img {
      margin-top: 0;
      top: 45px; }
  #spaImgVideo .spaLinkBlock2, #spaImgVideo .spaLinkBlock3, #spaImgVideo .spaLinkBlock4 {
    background-position: center center;
    height: 120px; }
    #spaImgVideo .spaLinkBlock2 a, #spaImgVideo .spaLinkBlock3 a, #spaImgVideo .spaLinkBlock4 a {
      padding-top: 90px; }
  #blockVideo {
    margin-top: 100px; }
    #blockVideo iframe {
      height: 220px; }
  #spaSaleImg {
    height: 400px; }
    #spaSaleImg h1 {
      font-size: 40px;
      margin-top: 50px;
      margin-bottom: 10px; }
    #spaSaleImg p {
      font-size: 11px; }
  footer p {
    margin-bottom: 10px; }
  footer a i {
    padding: 0 15px 0 15px; } }
