@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
//////////////////////////////////////////////////
// глобальные стили
p, h1, h2, h3, h4, h5, h6 {	// сброс отступов текста
	margin-bottom: 0px;
}

.dontTouchMe {	// блокирует выделение текста
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

//////////////////////////////////////////////////
// блоки
header { //////////////////////////////////////////////////
  background: linear-gradient(45deg, rgb(236, 186, 190) 0%,rgb(224, 174, 177) 35%,rgb(138, 198, 208) 100%);
  line-height: 36px;
  text-transform: uppercase;
  img {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 10px;
  }
  a {
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    transition: .5s;
    &:hover {
      color: rgb(80, 53, 196);
    }
  }
}


#logo { //////////////////////////////////////////////////
  img {
    width: 320px;
    padding-top: 35px;
    padding-bottom: 45px;
  }
}

nav { //////////////////////////////////////////////////
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 13px;
  line-height: 29px;
  ul { // reset
    margin: 0;
    padding: 0;
  }
  .menu { // class menu (start)
    text-align: center;
    ul { // hide sub-menu
      display: none;
      position: absolute;
      margin-left: -15px;
      ul { // margin-left >> sub-menu 
        margin: 0 0 0 100%;
        width: 160px;
      }
    }
    li {
      list-style: none;
      display: inline-block;
    }
    .sub-menu li { // fixed bug
      display: flex;
    }
    .link { // template style
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #727475;
      letter-spacing: 3px;
      padding: 15px 0;
      transition: .5s;
      &:hover {
        color: rgb(54, 47, 87);
      }
      &:after {
        content: "|";
        display: inline-block;
        margin: 0px 20px;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .btnContact {
      text-transform: uppercase;
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #fff;
      letter-spacing: 3px;
      background: #8ac6d0;
      transition: .5s;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      &:hover {
        background: #CCB4B8;
      }
    }
    .sub-menu {
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      box-shadow: 0px 2px 5px #f1f1f1;      
    }
    .sub-menu li {
      border-bottom: 1px solid #f1f1f1;       
    }
    .sub-menu li a {
      padding: 10px 20px;
      text-align: left;
      position: relative;
      float: left;
      width: 100%;
      font-size: 12px;
      color: #727475;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 3px;
      background: #fff;
      &:hover {
        background: #f9f9f9;  
      }
    }
    .itemNew > a {
      &:after {
        content: "new";
        text-transform: uppercase;
        position: relative;
        float: right;
        background-color: #8ac6d0;
        border-radius: 15px;
        padding: 3px 8px;
        letter-spacing: 0px;
        color: #fff;
        font-size: 10px;    
        line-height: 10px;
        margin-top: 7px;
        margin-left: 10px;        
      }
    }
    .itemHot > a {
      &:after {
        content: "hot";
        text-transform: uppercase;
        position: relative;
        float: right;
        background-color: #ecbabe;
        border-radius: 15px;
        padding: 3px 8px;
        letter-spacing: 0px;
        color: #fff;
        font-size: 10px;    
        line-height: 10px;
        margin-top: 7px;
        margin-left: 10px;
      }
    }
    .itemBest > a {
      &:after {
        content: "best";
        text-transform: uppercase;
        position: relative;
        float: right;
        background-color: #d9cbdb;
        border-radius: 15px;
        padding: 3px 8px;
        letter-spacing: 0px;
        color: #fff;
        font-size: 10px;    
        line-height: 10px;
        margin-top: 7px;
        margin-left: 10px;
      }
    }
    .menu-item-has-children > a {
      &:after {
        content: "";
        position: relative;
        float: right;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #727475;
        margin-top: 9px;
      }
    }
  } // class menu (end)
}


//////////////////////////////////////////////////

